#menuRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
}
.container {
    padding-right: 0;
    padding-left: 0;
    display: block;
}
.row {
    margin: 0;
}
.portfolioItem {
    display: flex;
    justify-content: center;
    width: 125px;
    height: 125px;
    margin: 10px;
}
.portfolioItem p {
    font-size: 20px;
    color: white;
    text-shadow: -1px -1px 0 rgb(61, 61, 61), 1px -1px 0 rgb(61, 61, 61), -1px 1px 0 rgb(61, 61, 61), 1px 1px 0 rgb(61, 61, 61);
    margin-top: 60px;
}
.centerBoi {
    text-justify: center;
    text-align: center;
}
.portfolioItem:hover {
    background-color: white;
}
div.red {
    background-color: red;
}
div.blue {
    background-color: blue;
}
div.yellow {
    background-color: yellow;
}

/* Display Items */
.displayItem {
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    top: 25px;
}
#displayRow {
    display: flex;
    justify-content: center;
    opacity: 0;
}
#displayContent{
    justify-content: left;
    align-content: center;
}
#displayIcon{
    background-repeat: no-repeat;
    height: 250px;
    background-size: 100%;
}

/* Portfolio Image Classes */

.divdiv{
    background-image: url("../img/dividv.png");
}